<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Vault.Server" value="hostname"/>
    <add key="Vault.User" value="user"/>
    <add key="Vault.Password" value="password"/>
    <add key="Vault.Repo" value="Initial Repository"/>
    <add key="Vault.ProxyServer" value="192.168.1.1"/>
    <add key="Vault.ProxyPort" value="8080"/>
    <add key="Vault.ProxyUser" value="proxyuser"/>
    <add key="Vault.ProxyPassword" value="proxypassword"/>
    <add key="Vault.ProxyDomain" value=""/>
    <add key="Git.DomainName" value="Initial Repository"/>
    <add key="Convertor.WorkingFolder" value="c:\dev"/>
    <add key="Convertor.GitCmd" value="C:\msysgit\msysgit\cmd\git.cmd"/>
    <!-- <add key="Convertor.Paths" value="$/Trunk~master;$/Branches/Branch1~branch1"/> -->
    <add key="Convertor.Paths" value="$/~default" />
  </appSettings>
</configuration>